Repository hikiko4ern/swc-minify-graphql-plugin: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, dprint

lefthook.yml:

# spell-checker: ignore esac

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: '*.rs'
      run: rustfmt "{staged_files}"
      stage_fixed: true
    clippy:
      glob: '{*.rs,Cargo.toml,Cargo.lock,rust-toolchain.toml}'
      run: cargo clippy -- -D warnings
    dprint:
      glob: '*.{json,jsonc,json5,md,toml}'
      run: pnpm dprint fmt "{staged_files}"
      stage_fixed: true
    spell-check:
      run: pnpm cspell lint --no-progress --no-summary --no-must-find-files "{staged_files}"

perf(graphql-minify): do not re-split lines in `print_block_string`
  Cargo.toml
  packages/graphql-minify/Cargo.toml
  packages/graphql-minify/examples/github_schema.rs
  packages/graphql-minify/src/block_string.rs
  packages/graphql-minify/src/lexer.rs
  packages/graphql-minify/src/lib.rs
Due: rustfmt, clippy, dprint

perf(graphql-minify): use `bumpalo` for allocations
  Cargo.lock
  cspell.json
  packages/graphql-minify/Cargo.toml
  packages/graphql-minify/src/block_string.rs
  packages/graphql-minify/src/lexer.rs
  packages/graphql-minify/src/lib.rs
Due: rustfmt, clippy, dprint

perf(graphql-minify): do not store pointers in `Token`
  packages/graphql-minify/src/lexer.rs
  packages/graphql-minify/src/lib.rs
Due: rustfmt, clippy

perf(graphql-minify): get rid of multiple memory allocations in `print_block_string`
  packages/graphql-minify/src/block_string.rs
Due: rustfmt, clippy

perf(graphql-minify): use `memchr` for string validation
  Cargo.lock
  cspell.json
  packages/graphql-minify/Cargo.toml
  packages/graphql-minify/src/block_string.rs
  packages/graphql-minify/src/lexer.rs
Due: rustfmt, clippy, dprint

feat(graphql-minify): do not print space before ellipsis
  packages/graphql-minify/src/lib.rs
  packages/graphql-minify/test_data/kitchen_sink_query_expected.graphql
Due: rustfmt, clippy

chore(deps): update dependencies
  Cargo.lock
Due: clippy

chore(release): v0.1.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint

fix: fix `license` to `Unlicense`
  package.json
Due: dprint

chore(release): v0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint

fix: include `graphql-minify` license in pack
  package.json
Due: dprint

perf: re-use single allocator for `graphql_minify::minify`
  Cargo.lock
  Cargo.toml
  packages/graphql-minify/benches/minify.rs
  packages/graphql-minify/examples/github_schema.rs
  packages/graphql-minify/src/block_string.rs
  packages/graphql-minify/src/lexer.rs
  packages/graphql-minify/src/lib.rs
  src/lib.rs
  src/visitor.rs
Due: rustfmt, clippy, dprint

perf(graphql-minify): allocate minified `String` in bump arena
  packages/graphql-minify/benches/minify.rs
  packages/graphql-minify/examples/github_schema.rs
  packages/graphql-minify/src/lexer.rs
  packages/graphql-minify/src/lib.rs
  packages/graphql-minify/src/minify_alloc.rs
  src/lib.rs
  src/visitor.rs
Due: rustfmt, clippy

perf(graphql-minify): use nightly `allocator_api`
  Cargo.lock
  Cargo.toml
  cspell.json
  packages/graphql-minify/Cargo.toml
  packages/graphql-minify/benches/minify.rs
  packages/graphql-minify/examples/github_schema.rs
  packages/graphql-minify/src/block_string.rs
  packages/graphql-minify/src/lexer.rs
  packages/graphql-minify/src/lib.rs
  packages/graphql-minify/src/minify_alloc.rs
  packages/graphql-minify/src/vec_str.rs
  src/lib.rs
  src/visitor.rs
Due: rustfmt, clippy, dprint

perf: re-use single allocator for `graphql_minify::minify`
  Cargo.toml
  packages/graphql-minify/benches/minify.rs
  packages/graphql-minify/examples/github_schema.rs
  packages/graphql-minify/src/block_string.rs
  packages/graphql-minify/src/lexer.rs
  packages/graphql-minify/src/lib.rs
  packages/graphql-minify/src/minify_alloc.rs
  src/lib.rs
  src/visitor.rs
Due: rustfmt, clippy, dprint

feat: print the parsing error span relative to the file
  src/visitor.rs
Due: rustfmt, clippy

chore(release): v0.1.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint

fix(graphql-minify): potentially fix stack overflow during parsing of very long strings
  .gitattributes
  .gitignore
  packages/graphql-minify/src/lexer.rs
  packages/graphql-minify/src/lib.rs
  packages/graphql-minify/test_data/fuzz/stack_overflow
Due: rustfmt, clippy

perf(graphql-minify): move comment from `skip` to a separate token
  packages/graphql-minify/src/lexer.rs
Due: rustfmt, clippy

chore(license): use dual Unlicense/MIT license
  Cargo.toml
  LICENSE-MIT
  README.md
  UNLICENSE
  fuzz/package.json
  package.json
Due: clippy, dprint

chore(release): v0.1.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint

fix: fix the list of files to be packed
  package.json
Due: dprint

chore(release): v0.1.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint

chore!: update `swc_core` to `5.0`
  Cargo.lock
  Cargo.toml
  README.md
  src/lib.rs
Due: rustfmt, clippy, dprint

chore!: update `swc_core` to `10.6`
  Cargo.lock
  Cargo.toml
  README.md
  src/lib.rs
Due: rustfmt, clippy, dprint

chore(deps): update dependencies
  .nvmrc
  Cargo.lock
  Cargo.toml
  fuzz/package.json
  package.json
  packages/graphql-minify/Cargo.toml
  packages/graphql_semantic_compare/Cargo.toml
  pnpm-lock.yaml
  rust-toolchain.toml
Due: clippy, dprint

chore(release): v0.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint
